.notification-container {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column; /* Alinha as notificações verticalmente */
  gap: 10px; /* Espaçamento entre as notificações */
  z-index: 1000;
}

.notification {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: slideIn 0.5s ease-out;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
